:root {
 font-family: "Dejavu Sans";
 print-color-adjust: exact;
}

@page {
 margin: 0cm 0cm 0cm 0cm;
}

body {
 padding: .25in .25in .25in .25in;
 margin: 0 auto;
 margin-bottom: 2in;
 border: none;
 width: 8in;
 height: 10in;
 display: grid;
 grid-template-rows: repeat(64, .125in);
 grid-template-columns: repeat(3, 1fr);
 align-items: start;
 justify-content: start;
}

ul, dl, dd {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

h1 {
 width: 8em;
 margin: 0 0 0 0;
 grid-row: 1;
 grid-column: 1/2;
}

#contact {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 box-sizing: content-box;
 grid-row: 4;
 grid-column: 1/2;
}
#contact > h2 {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
}
#contact > address > ul > li {
 font-style: normal;
}

#education {
 display: flex;
 height: 4em;
 width: 18em;
 grid-row: 46;
}
#education > h2 {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
}
#education > dl > dt {
 font-weight: bold;
}
#education > dl > dt > time {
 display: inline-block;
 color: white;
 background-color: black;
 font-weight: bold;
 border-radius: 5px;
 font-size: 10pt;
 text-align: center;
 width: 4.5em;
 margin-left: .5em;
}
#education > dl {
 display: grid;
 grid-template-rows: repeat(4, 1fr);
 grid-template-columns: 4.5em 1fr 4.5em;
}
#education > dl > dt:nth-of-type(1) {
 grid-row: 1 / 2;
 grid-column: 1 / 3;
}
#education > dl > dd:nth-of-type(1) {
 grid-row: 2 / 3;
 grid-column: 1 / -1;
}
#education > dl > dt:nth-of-type(2) {
 margin-left: auto;
 margin-right: 0;
}
#education > dl > dt:nth-of-type(3) {
 grid-row: 3 / 4;
 grid-column: 1 / -1;
}
#education > dl > dt:nth-of-type(4) {
 grid-row: 4 / 5;
 grid-column: 1 / 2;
}
#education > dl > dt:nth-of-type(4) > time {
 margin-left: 0;
}
#education > dl > dd:nth-of-type(2) {
 grid-row: 4 / 5;
 grid-column: 2 / 4;
}

#work_history {
 grid-row: 55;
 width: 17em;
}
#work_history > h2 {
 border-bottom: solid black;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 margin: 0 0 0 0;
}
#work_history > ul {
 display: flex;
 flex-direction: column;
}
#work_history > ul > li > dl {
 padding-top: 1em;
 display: grid;
 grid-auto-rows: auto;
 grid-template-columns: max-content 1fr;
 gap: .25em .75em;
}
#work_history > ul > li > dl > dt:nth-of-type(4) {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
}
#work_history > ul > li > dl > dt:nth-of-type(5) {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
}
#work_history > ul > li > dl > dt {
 font-weight: bold;
}

#skills {
 grid-row: 2;
 grid-column: 2 / 4;
}
#skills > h2 {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
}
#skills > ul {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}
#skills > ul > li {
 margin: 0em .5em;
}

#experience {
 grid-row: 10;
 grid-column: 1 / 4;
}
#experience > h2 {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
}
#experience > ul {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
}
#experience > ul > li > h3 {
 margin-top: 0;
}
#experience > ul > li > ul {
 list-style: disc;
 margin: 1em;
}

#about_me {
 grid-row: 45;
 grid-column: 2 / -1; 
 margin-left: 3em;
 margin-right: 3em;
}

#about_me > h2 {
 margin-top: 0;
 margin-bottom: 0;
 border-bottom: solid black;
}

#about_me > p {
 padding-top: .5em;
 margin-top: 0;
 text-indent: 1em;
 margin-bottom: 0;
 hyphens: auto;
}

figure {
 --fwidth: .5in;
 position: relative;
 top: 9.8in;
 left: 4.6in;
 width: var(--fwidth);
 margin: 0 0 0 0;
}
figure > img {
 width: var(--fwidth);
 height: auto;
}
figure > figcaption {
 font-size: 8pt;
 text-align: center;
 margin-bottom: .25em;
}
@media print {
 img {
  padding-bottom: 0;
 }
 body {
  margin-bottom: 0;
 }
}

a {
 color: black;
}
